/* Полный сброс фона и отступов */
:root {
  background-color: #121212; /* Темный фон */
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start; /* Убираем центрирование Vite */
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: white;
}

#root {
  width: 100%; /* Растягиваем на всю ширину */
  margin: 0;
  padding: 0;
}
